html {
  position: relative;
  min-height: 100%; }

body {
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 5em; }

#ro-article-body .h1 {
  font-size: 1.5em; }

#banner {
  background: #323840;
  padding: 1.5em 0em 1.0em 0em;
  position: relative;
  z-index: 2; }

.navbar-inverse {
  background: #323840;
  border-color: #323840; }

.navbar-nav {
  text-align: center;
  width: 100%; }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }
    .navbar-nav > li > a {
      padding: 0px 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      color: white; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-brand {
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2.0em;
  color: white;
  text-transform: uppercase; }

.navbar-inverse .navbar-brand {
  color: white; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; } }
.full-width {
  width: 100%; }

.copyright-notice {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #282D33;
  text-align: center; }

.footer-social-media {
  text-align: center;
  width: 100%;
  padding-left: 0; }
  .footer-social-media > li {
    float: none;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px; }
    .footer-social-media > li > a {
      padding: 0px 0px;
      color: #282D33; }

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em; }

.ro-body {
  padding-bottom: 7.5em; }

.ro-title-text {
  color: #282D33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2.0em; }

.ro-meta-text {
  color: #404752;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em; }

.ro-summary-text {
  color: #282D33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700; }

.ro-body-text {
  color: #282D33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

.ro-divider-container {
  padding-top: 1em;
  padding-bottom: 0.2em; }

.ro-divider-line {
  width: 100%;
  border-bottom: 1px solid #6B6F7A; }

.ro-divider-icon {
  color: #6B6F7A;
  position: relative;
  display: block;
  font-size: 0.8em;
  margin-top: -1.3em;
  text-align: center; }

.ro-article-header {
  margin-top: 2.2em;
  margin-bottom: 1.2em; }

.ro-article-meta {
  text-align: left; }

.ro-article-title {
  text-align: left;
  margin-top: -1.0em; }

.ro-meta-tags {
  padding-left: 0.8em; }

.ro-article-body {
  text-align: left;
  padding-bottom: 0.8em; }

.ro-article-summary {
  padding-bottom: 0.5em; }

.ro-categories-element {
  text-align: left;
  margin-top: 1.0em; }

.page-title {
  color: #282D33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left; }

.page-body {
  color: #282D33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2.2em; }

/*# sourceMappingURL=rubber-octopus.css.map */
