html {
  position: relative;
  min-height: 100%; }

body {
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 5em; }

h1 {
  font-size: 1.5em; }
  @media (min-width: 992px) {
    h1 {
      font-size: 2.0em; } }

h2 {
  font-size: 1.2em; }
  @media (min-width: 992px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.1em; }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.25em; } }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2000;
  font-size: 8px; }
  @media (min-width: 576px) {
    .menu {
      font-size: 10px; } }
  @media (min-width: 768px) {
    .menu {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .menu {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .menu {
      font-size: 24px; } }

.logo_box {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  z-index: 5; }

.menu_interact {
  position: absolute;
  height: 100%; }

.menu_collapsible {
  height: 100%; }

.menu_collapsible_logo_slide {
  position: relative;
  width: 100%;
  height: 10vmin;
  background-color: #4e4e4e;
  border-bottom: 0.2vmin solid black; }

.menu_collapsible_logo_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.0em;
  color: white;
  text-align: center;
  padding-bottom: 2.5vmin;
  padding-top: 2.5vmin;
  white-space: nowrap; }

.menu_collapsible_nav {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #A0A0A0;
  border-right: 1px solid #4e4e4e; }

.menu_nav {
  position: absolute;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 2vmin; }

.menu_nav_item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.35em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  white-space: nowrap; }
  .menu_nav_item:hover {
    background-color: #696969; }
  .menu_nav_item a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: inline-block; }

.menu_footer {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  width: 100%;
  height: 16%; }

.menu_footer_social_media {
  text-align: center;
  width: 100%;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  color: #282D33; }
  .menu_footer_social_media li {
    float: none;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px; }
    .menu_footer_social_media li a {
      padding: 0px 0px;
      color: #282D33; }

.menu_footer_copyright_notice {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  color: #282D33;
  text-align: center; }

/*
#banner {
    padding: 0;
    z-index: 2;
    width: 100%;
}

.banner-background {
    background: $grey_header;
}

.banner-background-bottom {
    border-bottom: 1px solid $grey_header_divider;
}


.navbar {
    margin-bottom: 0px;
    padding: 0;
}

.navbar-nav {
    text-align: center;
    width: 100%;
    > li {
        float: none;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        > a {
            padding: 20px 0px 10px 0px;
            @include source-sans-pro(700);
            color: #000000; //white;
            font-size: 1.25em;
        }
    }
    padding: 0.9em 0;
}

.navbar-brand {
    width: 100%;
    text-align: center;

    @include source-sans-pro(700);
    font-size: 2.0em;
    color: #000000;
    text-transform: uppercase;

    padding-top: 0.9em;
    position: relative;

    margin: 0;
}

.sticky {
    position: fixed;
    z-index: 2;
    top: 0;
}

.fixed-padding {
    padding-bottom: 1.875em;
}

/*
#banner {
    background: $grey_header;
    padding: 0;
    z-index: 2;
    border-bottom: 1px solid $grey_header_divider;
    width: 100%;
}

.ro-relat {
    position: relative;
}

.ro-fixed {
    position: fixed;
}

.navbar {
    margin-bottom: 0px;
    padding: 0;
}

.navbar-inverse {
    background: $grey_header;
    border-color: $grey_header;
}

.navbar-nav {
    text-align: center;
    width: 100%;
    > li {
        float: none;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        > a {
            padding: 20px 0px 10px 0px;
            @include source-sans-pro(700);
            color: #000000; //white;
            font-size: 1.25em;
        }
    }
    padding: 0.9em 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;//white;
}

.navbar-brand {
    width: 100%;
    text-align: center;

    @include source-sans-pro(700);
    font-size: 2.0em;
    //color: white;
    color: #000000;
    text-transform: uppercase;

    padding-top: 0.9em;
}
*/
/*
.navbar-logo img {
    line-height: 0;
    display: block;
    width: auto;
    max-height:220px;
    margin: 0 auto;
    padding-bottom:10px;
    padding-right:30px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

@media (min-width:768px){
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}
*/
.full-width {
  width: 100%; }

.copyright-notice {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #282D33;
  text-align: center; }

.footer-social-media {
  text-align: center;
  width: 100%;
  padding-left: 0; }
  .footer-social-media > li {
    float: none;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px; }
    .footer-social-media > li > a {
      padding: 0px 0px;
      color: #282D33; }

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em; }

.icon-white {
  color: white; }

.ro-body {
  padding-bottom: 7.5em; }

.ro-title-text {
  color: #282D33;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.0em; }

.ro-meta-text {
  color: #404752;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em; }

.ro-summary-text {
  color: #282D33;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.ro-body-text {
  color: #282D33;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%; }

.ro-divider {
  width: 100%; }

.ro-divider-container {
  padding-top: 1em;
  padding-bottom: 0.2em; }

.ro-divider-line {
  width: 100%;
  border-bottom: 1px solid #6B6F7A; }

.ro-divider-icon {
  color: #6B6F7A;
  position: relative;
  display: block;
  font-size: 0.8em;
  margin-top: -1.3em;
  text-align: center; }

.ro-article-header {
  margin-top: 1.1em;
  margin-bottom: 1.2em; }

.ro-article-meta {
  text-align: left; }

.ro-article-date {
  padding-bottom: 1.25em; }

.ro-article-title {
  text-align: left;
  margin-top: -1.0em; }

.ro-meta-tags {
  padding-left: 0.8em; }

.ro-article-body {
  text-align: left;
  padding-bottom: 0.2em; }

.ro-article-summary {
  padding-bottom: 0.5em; }

.ro-categories-element {
  text-align: left;
  margin-top: 1.0em; }

.page-title {
  color: #282D33;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left; }

.page-body {
  color: #282D33;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2.2em; }

.highlight {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #606060;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
.highlight .k {
  color: #208090;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #303030; }

/* Operator */
.highlight .cm {
  color: #606060;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #507090; }

/* Comment.Preproc */
.highlight .c1 {
  color: #606060;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #c00000;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #808080; }

/* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0040D0; }

/* Generic.Traceback */
.highlight .kc {
  color: #208090;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #208090;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #208090;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0080f0;
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #208090;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #6060f0;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  background-color: #e0e0ff; }

/* Literal.String */
.highlight .na {
  color: #000070; }

/* Name.Attribute */
.highlight .nb {
  color: #007020; }

/* Name.Builtin */
.highlight .nc {
  color: #e090e0;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #50e0d0;
  font-weight: bold; }

/* Name.Constant */
.highlight .nd {
  color: #505050;
  font-weight: bold; }

/* Name.Decorator */
.highlight .ni {
  color: #800000; }

/* Name.Entity */
.highlight .ne {
  color: #F00000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #50e0d0;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #907000;
  font-weight: bold; }

/* Name.Label */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #007000; }

/* Name.Tag */
.highlight .nv {
  color: #003060; }

/* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #005080;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #6060f0;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #4000E0;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sb {
  background-color: #e0e0ff; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #8080F0; }

/* Literal.String.Char */
.highlight .sd {
  color: #D04020; }

/* Literal.String.Doc */
.highlight .s2 {
  background-color: #e0e0ff; }

/* Literal.String.Double */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #e0e0ff; }

/* Literal.String.Escape */
.highlight .sh {
  background-color: #e0e0ff; }

/* Literal.String.Heredoc */
.highlight .si {
  background-color: #e0e0e0; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #f08080;
  background-color: #e0e0ff; }

/* Literal.String.Other */
.highlight .sr {
  color: #000000;
  background-color: #e0e0ff; }

/* Literal.String.Regex */
.highlight .s1 {
  background-color: #e0e0ff; }

/* Literal.String.Single */
.highlight .ss {
  color: #f0c080; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #c0c0f0; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f08040; }

/* Name.Variable.Global */
.highlight .vi {
  color: #a0a0f0; }

/* Name.Variable.Instance */
.highlight .il {
  color: #6060f0;
  font-weight: bold; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=rubber-octopus.css.map */
